<mat-toolbar class="toolbar">
  <div class="brand" (click)="goHome()">
    <div class="logo">UX</div>
    <div class="brand-text">
      <div class="title">Users Explorer</div>
      <div class="subtitle">User Management</div>
    </div>
  </div>

  <span class="spacer"></span>

<div class="search-wrapper">
  <mat-form-field class="search oval" appearance="fill">
    <input
      matInput
      inputmode="numeric"
      placeholder="Search user by ID"
      autocomplete="off"
    />
    <button mat-icon-button matSuffix>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>



</mat-toolbar>

<div class="toolbar-glow"></div>
