<div class="page">
  <div class="topbar">
    <button class="back" mat-stroked-button (click)="back()">
      Back
    </button>
  </div>

<ng-container *ngIf="state$ | async as s">
  <div class="wrap" *ngIf="s.status === 'ready' && s.user as u">
    <mat-card class="hero">
      <div class="hero-left">
        <img class="avatar" [src]="u.avatar" [alt]="u.first_name" />
        <div class="name">{{ u.first_name }} {{ u.last_name }}</div>
        <div class="sub">User ID: <span>{{ u.id }}</span></div>
      </div>

      <div class="hero-right">
        <div class="grid">
          <div class="item">
            <div class="label">Email</div>
            <div class="value">{{ u.email }}</div>
          </div>

          <div class="item">
            <div class="label">Phone</div>
            <div class="value">{{ u.phone || '—' }}</div>
          </div>

          <div class="item">
            <div class="label">Gender</div>
            <div class="value">{{ u.gender || '—' }}</div>
          </div>

          <div class="item">
            <div class="label">Date of birth</div>
            <div class="value">{{ u.dob || '—' }}</div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="wrap" *ngIf="s.status === 'loading'">
    <mat-card class="hero skeleton-card">
      <div class="sk-avatar"></div>
      <div class="sk-lines">
        <div class="sk-line w70"></div>
        <div class="sk-line w50"></div>
        <div class="sk-line w90"></div>
        <div class="sk-line w60"></div>
      </div>
    </mat-card>
  </div>
</ng-container>

</div>
